<br />
<br />
<div class="col-md-3 left_col menu_fixed border">

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
        <div class="menu_section">
            <h3>Settings</h3>
            <ul class="nav side-menu">
                <li>
                    <a href="#"><i class="fa fa-home"></i> User Info Update <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a asp-area="User" asp-controller="AccountSettings" asp-action="PersonalInfo"> Personal Informations </a></li>
                        <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Email"> Email Address </a></li>
                        <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Password"> My Password </a></li>
                    </ul>
                </li>
                <li>
                    <a asp-area="User" asp-controller="AccountSettings" asp-action="Address"><i class="fa fa-home"></i> Address Info Update <span class="fa fa-chevron-down"></span></a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-home"></i> Account <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                        <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Theme"> Theme </a></li>
                        <li><a asp-area="User" asp-controller="AccountSettings" asp-action="DeleteAccount"> Delete Account </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />