@*<br />
<div class="col-md-12 left_col menu_fixed border">



    <!-- sidebar menu -->

    <h3>Settings</h3>
    <ul class="nav side-menu">
        <li>
            <a href="#"><i class="fa fa-home"></i> User Info Update <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-area="User" asp-controller="AccountSettings" asp-action="PersonalInfo"> Personal Informations </a></li>
                <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Email"> Email Address </a></li>
                <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Password"> My Password </a></li>
            </ul>
        </li>
        <li>
            <a asp-area="User" asp-controller="AccountSettings" asp-action="Address"><i class="fa fa-home"></i> Address Info Update <span class="fa fa-chevron-down"></span></a>
        </li>
        <li>
            <a href="#"><i class="fa fa-home"></i> Account <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
                <li><a asp-area="User" asp-controller="AccountSettings" asp-action="Theme"> Theme </a></li>
                <li><a asp-area="User" asp-controller="AccountSettings" asp-action="DeleteAccount"> Delete Account </a></li>
            </ul>
        </li>
    </ul>
</div>*@
<div class="list-group col-md-10" ">
    <a class="list-group-item list-group-item-action active" style="background-color:#B12103" aria-current="true" href="#">Settings</a>

    <a asp-area="User" asp-controller="AccountSettings" asp-action="PersonalInfo" class="list-group-item list-group-item-action text-center btn" style="background-color:#F49301; color:rgb(255,255,255)">Personal Informations</a>


    <a class="list-group-item list-group-item-action text-center btn-outline" style="background-color:#F49301; color:rgb(255,255,255)" href="#">Personal Informations</a>


    <a class="list-group-item list-group-item-action text-center" style="background-color:#F49301; color:rgb(255,255,255)">A fourth button item</a>
    <a class="list-group-item list-group-item-action text-center" style="background-color:#F49301; color:rgb(255,255,255)">A disabled button item</a>
</div>