@{
    Layout = "~/Areas/User/Views/AccountLayout/Index.cshtml";
}

@inject UserManager<AppUser> userManager;

@{
    var user = await userManager.FindByNameAsync(User.Identity.Name);
}

<div class="col-md-10" style="margin-top: 40px;background-color: transparent; font-family:'Indie Flower'">
    <form asp-action="DeleteAccount" asp-route-id="@user.Id" method="post" class="form-group justify-content-between text-center" style="font-family:'Indie Flower'; font-size:25px">
        <label style="color:rgb(244,147,1)">Do you want to delete your account ?</label>
        <br />
        <br />
        <div class="form-group mb-3">
            <button class="btn btn-primary d-block w-100" id="submitButton" type="submit" style="color: rgb(255,255,255);background: rgb(244,147,1); font-family:'Indie Flower'">Yes</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/bootstrap.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}