@{
    Layout = "~/Areas/User/Views/AccountLayout/Index.cshtml";
}

@model AppUserEmailPasswordVM


<div class="col-md-10" style="margin-top: 40px;background-color: transparent; font-family:'Indie Flower'">
    <form asp-action="Password" method="post" class="form-group justify-content-between text-center" style="font-family:'Indie Flower'">
        <h2 style="color:rgb(244,147,1)">My Password Change</h2>
        <br />
        <div class="" style="font-size:22px">
            <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
            <br />
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Password Confirm" />
            <input type="hidden" asp-for="Email" />
            @*<input type="hidden" asp-for="IsDark" />*@
        </div>
        <div asp-validation-summary="All"></div>
        <br />
        <div class="form-group mb-3">
            <button class="btn btn-primary d-block w-100" id="submitButton" type="submit" style="color: rgb(255,255,255);background: rgb(244,147,1); font-family:'Indie Flower'">Update</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/bootstrap.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
