@{
    Layout = "~/Areas/User/Views/AccountLayout/Index.cshtml";
}

@model AppUserThemeVM

<div class="col-md-10" style="margin-top: 40px;background-color: transparent; font-family:'Indie Flower'">
    <form asp-action="Theme" method="post" class="form-group justify-content-between text-center" style="font-family:'Indie Flower'; font-size:25px">
        <label style="color:rgb(244,147,1);">
            <input asp-for="IsDark" type="checkbox" class="btn btn-outline-danger" /> &nbsp;&nbsp;Do you want to use dark theme in mbf hamburger website?
        </label>
        <input type="hidden" asp-for="Email" />
        <br />
        <br />
        <div class="form-group mb-3">
            <button class="btn btn-primary d-block w-100" id="submitButton" type="submit" style="color: rgb(255,255,255);background: rgb(244,147,1); font-family:'Indie Flower'">Update</button>
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/bootstrap.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}

