@model CreateMenuVM

<style>
	.btn.btn-outline-success:hover {
		background-color: darkolivegreen !important;
	}

	.btn.btn-outline-secondary.btn-block:hover {
		background-color: red !important;
	}
</style>

<form method="post" asp-action="Create" asp-controller="Menu" enctype="multipart/form-data">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div>
		<label>Name:</label>
		<input asp-for="Menu.Name" class="form-control" />
		<span asp-validation-for="Menu.Name" style="color:darkred" />
	</div>
	<div>
		<label>Piece</label>
		<input asp-for="Menu.Piece" class="form-control" />
		<span asp-validation-for="Menu.Piece" style="color:darkred" />
	</div>
	<div>
		<label>Price:</label>
		<input asp-for="Menu.Price" class="form-control" />
		<span asp-validation-for="Menu.Price" style="color:darkred" />
	</div>
	<div class="form-group">
		<label asp-for="Menu.Photo" class="control-label"></label>
		<input asp-for="Menu.Photo" class="form-control" type="file" name="imageName" accept=".jpg,.png,.jpeg" />
		<span asp-validation-for="Menu.Photo" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Hamburger Name:</label>
		<select asp-for="Menu.HamburgerId" class="form-control" asp-items="Model.Hamburgers"></select>
	</div>
	<div class="form-group">
		<label>Fries Name:</label>
		<select asp-for="Menu.FriesId" class="form-control" asp-items="Model.Fries"></select>
	</div>
	<div class="form-group">
		<label>Drink Name:</label>
		<select asp-for="Menu.DrinkId" class="form-control" asp-items="Model.Drinks"></select>
	</div>
	<div class="form-group">
		<label>Dessert Name:</label>
		<select asp-for="Menu.DessertId" class="form-control" asp-items="Model.Desserts"></select>
	</div>
	<div class="text-center">
		<button type="submit" class="btn btn-outline-success">Save</button>
		<a asp-action="List" asp-controller="Hamburger" class="btn btn-outline-secondary btn-block">Cancel</a>
	</div>
</form>

@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}

