@model CreateMenuVM

<style>
    .btn.btn-outline-success:hover {
        background-color: darkolivegreen !important;
    }

    .btn.btn-outline-secondary.btn-block:hover {
        background-color: red !important;
    }
</style>
<br />
@if (ViewBag.Info is not null)
{
    <h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">@ViewBag.Info</h3>
}
<h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">Menu Create</h3>
<form method="post" asp-action="Create" asp-controller="Menu" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="Menu.Name" class="control-label"></label>
        <input asp-for="Menu.Name" class="form-control" type="text" />
    </div>
    <div>
        <label asp-for="Menu.Piece" class="control-label"></label>
        <input asp-for="Menu.Piece" class="form-control" type="number" />
    </div>
    <div>
        <label asp-for="Menu.Price" class="control-label"></label>
        <input asp-for="Menu.Price" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label class="control-label">Photo</label>
        <input class="form-control" type="file" name="imgCover" accept=".jpg,.png,.jpeg" />
    </div>
    <div class="form-group">
        <label>Hamburger Name:</label>
        <select asp-for="Menu.HamburgerId" class="form-control" asp-items="Model.Hamburgers"></select>
    </div>
    <div class="form-group">
        <label>Fries Name:</label>
        <select asp-for="Menu.FriesId" class="form-control" asp-items="Model.Fries"></select>
    </div>
    <div class="form-group">
        <label>Drink Name:</label>
        <select asp-for="Menu.DrinkId" class="form-control" asp-items="Model.Drinks"></select>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a asp-action="List" asp-controller="Hamburger" class="btn btn-outline-secondary btn-block">Cancel</a>
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

