@model CreateMenuVM

<style>
    .btn.btn-outline-warning:hover {
        background-color: darkorange !important;
    }

    .btn.btn-outline-success:hover {
        background-color: darkolivegreen !important;
    }

    .table-hover tbody tr:hover {
        background-color: rgb(244, 147, 1);
    }

    .btn.btn-outline-secondary.btn-block:hover {
        background-color: red !important;
    }
</style>
<br />
@if (ViewBag.Info is not null)
{
    <h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">@ViewBag.Info</h3>
}
<h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">Menu Update</h3>
<form method="post" asp-action="Edit" asp-controller="Menu" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Menu.Id" />
    <div>
        <label>Name:</label>
        <input asp-for="Menu.Name" class="form-control" />
        <span asp-validation-for="Menu.Name" style="color:darkred" />
    </div>
    <div>
        <label>Piece</label>
        <input asp-for="Menu.Piece" class="form-control" />
        <span asp-validation-for="Menu.Piece" style="color:darkred" />
    </div>
    <div>
        <label>Price:</label>
        <input asp-for="Menu.Price" class="form-control" />
        <span asp-validation-for="Menu.Price" style="color:darkred" />
    </div>
    <div class="form-group">
        <label class="control-label">Photo</label>
        <input class="form-control" type="file" name="imgCover" accept=".jpg,.png,.jpeg" />
    </div>
    <div class="form-group">
        <label>Hamburger Name:</label>
        <select asp-for="Menu.HamburgerId" class="form-control" asp-items="Model.Hamburgers"></select>
    </div>
    <div class="form-group">
        <label>Fries Name:</label>
        <select asp-for="Menu.FriesId" class="form-control" asp-items="Model.Fries"></select>
    </div>
    <div class="form-group">
        <label>Drink Name:</label>
        <select asp-for="Menu.DrinkId" class="form-control" asp-items="Model.Drinks"></select>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a asp-action="List" asp-controller="Menu" class="btn btn-outline-secondary btn-block">Cancel</a>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
