<style>
    .text-right {
        text-align: right;
    }

        .text-right .nav-item {
            display: inline-block;
            float: right;
            margin-left: 10px;
        }
</style>

@inject SignInManager<AppUser> signInManager;
@inject UserManager<AppUser> userManager;

@{
    var navbarBackgroundColor = "#F49301";
    var mbfLogoColor = "#B12103";
    var mainBackgroundColor = "#fff";
    var footerBackgroundColor = "#D1D8E0";
    var footerColor = "#747d8c";
    if (signInManager.IsSignedIn(User))
    {
        if (User.IsInRole("User"))
        {
            AppUser appUser = await userManager.FindByNameAsync(User.Identity.Name);
            if (appUser is not null)
            {
                if (appUser.IsDark)
                {
                    navbarBackgroundColor = "#212529";
                    mbfLogoColor = "#F49301";
                    mainBackgroundColor = "#212529";
                    footerBackgroundColor = "#B12103";
                    footerColor = "#fff";
                }
            }
        }
    }
}

<header>
    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button" style="background: @navbarBackgroundColor; font-size: 25px;">
        <div class="container-fluid">
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navi">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Main">
                    <span style="font-family: Allura, serif;font-size: 50px; transform-style: preserve-3d;--bs-body-font-weight: 100;">
                        <span style="text-decoration: underline; color: @mbfLogoColor">mbf</span>
                    </span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01" style="font-family: 'Comic Sans MS', sans-serif;">
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </nav>
</header>