@model UpdateFriesVM

<style>
    .btn.btn-outline-warning:hover {
        background-color: darkorange !important;
    }

    .btn.btn-outline-success:hover {
        background-color: darkolivegreen !important;
    }

    .table-hover tbody tr:hover {
        background-color: rgb(244, 147, 1);
    }

    .btn.btn-outline-secondary.btn-block:hover {
        background-color: red !important;
    }
</style>
<br />
@if (ViewBag.Info is not null)
{
    <h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">@ViewBag.Info</h3>
}
<h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">Fries Update</h3>
<form method="post" asp-action="Edit" asp-controller="Fries" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" type="text" />
    </div>
    <div>
        <label asp-for="Piece" class="control-label"></label>
        <input asp-for="Piece" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label asp-for="Size" class="control-label"></label>
        <select asp-for="Size" class="form-control" asp-items="ViewBag.size"></select>
    </div>
    <div>
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" />
    </div>
    <div class="form-group">
        <label class="control-label">Photo</label>
        <input class="form-control" type="file" name="imgCover" accept=".jpg,.png,.jpeg" />
    </div>
    <br />
    <div class="text-center">
        <input type="submit" value="Update" class="btn btn-outline-success">
        <a asp-action="List" asp-controller="Fries" class="btn btn-outline-secondary btn-block">Cancel</a>
    </div>
</form>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
