@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- head -->
@await Component.InvokeAsync("_AccountLayoutHeadPartial")
<!-- /head -->
<body class="nav-md">
    <!-- header -->
    @await Component.InvokeAsync("_AccountLayoutHeaderPartial")
    <!-- /header -->

    <div class="container bg-body">
        <!-- sidebar -->
        @await Component.InvokeAsync("_AccountLayoutSidebarPartial")
        <!-- sidebar -->
        <main role="main" class="pb-3" @*style="background-color:@mainBackgroundColor"*@>


            @RenderBody()
        </main>
    </div>

    <!-- footer content -->
    @await Component.InvokeAsync("_AccountLayoutFooterPartial")
    <!-- /footer content -->
    <!-- script content -->
    @await Component.InvokeAsync("_AccountLayoutScriptPartial")

    //@await RenderSectionAsync("Scripts", required: false)
    <!-- /script content -->

</body>
</html>