@model AppUserCreateVM

<section class="register-photo" style="background-color: transparent;">
    <div class="form-container d-flex" style="margin-top: 40px;">
        <div class="image-holder" style="background: url(&quot;assets/img/IINET-DOSAGE-1.jpg&quot;) left / cover no-repeat;height: 500px;">
            <img src="../../img/burger4.jpg" width="400" height="400" style="width: 400px;height: 510px;" />
        </div>
        <form asp-action="SignUp" method="post" class="justify-content-between text-center">
            <h2>Sign Up</h2>
            <div class="" style="font-size:22px">
                <input type="text" asp-for="FirstName" placeholder="Name" />
                <input type="text" asp-for="LastName" placeholder="Surname" />
                <input type="email" asp-for="Email" placeholder="Email" />
                <input type="password" asp-for="Password" placeholder="Password" />
                <input type="password" asp-for="ConfirmedPassword" placeholder="Password Confirm" />
            </div>
            <div asp-validation-summary="All"></div>
            <br />
            <ul class="" style="border:dashed;">
                <li>
                    <input type="checkbox" id="isRequired" required="" />
                    <label for="isRequired"><span></span>I read and accepted.</label>
                </li>
            </ul>
            <div class="form-group mb-3">
                <button class="btn btn-primary d-block w-100" id="submitButton" type="submit" style="color: rgb(255,255,255);background: rgb(244,147,1);">Sign Up</button>
            </div>
            <span>Already have an account? => <a class="btn btn-outline" href="Login/Index">Sign In</a></span>
        </form>
    </div>
</section>

@section Scripts{
    <script src="~/js/bootstrap.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
