@model DrinkCreatVM

<style>
    .btn.btn-outline-success:hover {
        background-color: darkolivegreen !important;
    }

    .btn.btn-outline-secondary.btn-block:hover {
        background-color: red !important;
    }
</style>
<br />
@if (ViewBag.Info is not null)
{
    <h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">@ViewBag.Info</h3>
}
<h3 class="text-center text-danger" style="text-align: center; font-family: Aclonica serif;">Drink Create</h3>
<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" type="text" />
        <span asp-validation-for="Name" style="color:darkred" />
    </div>
    <div class="form-group">
        <label asp-for="Piece" class="control-label"></label>
        <input asp-for="Piece" class="form-control" type="number" />
        <span asp-validation-for="Piece" style="color:darkred" />
    </div>
    <div class="form-group">
        <label asp-for="Size" class="control-label"></label>
        <select asp-for="Size" class="form-control" asp-items="ViewBag.size"></select>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" style="color:darkred" />
    </div>
    <div class="form-group">
        <label class="control-label">Photo</label>
        <input class="form-control" type="file" name="imgCover" accept=".jpg,.png,.jpeg"/>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-outline-success">Save</button>
        <a asp-action="DrinkList" asp-controller="Drink" class="btn btn-outline-secondary btn-block">Cancel</a>
    </div>

</form>

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}